* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  background-color: #1B1B1B;
  font-family: Nunito Sans, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.container .title {
  padding-top: 79px;
  font-weight: 700;
  font-size: 51px;
  line-height: 125%;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
}

.container .title .highlight {
  font-weight: 700;
  font-size: 51px;
  font-style: italic;
  line-height: 125%;
  text-align: center;
  text-transform: capitalize;
  color: #FFCC00;
}

.trailers {
  padding-inline: 64px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 24px;
}

@media (max-width: 1024px) {
  .trailers {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.trailers .trailer {
  height: 238px;
  width: 100%;
  border-radius: 12px;
  box-shadow: -3px 3px 0px 0px rgba(199, 199, 199, 1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out; 
  cursor: pointer;
}

.trailers .trailer:hover {
  transform: scale(1.02); 
}

.trailers .trailer_1 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
              url('./images/trailer_1.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 1; 
  grid-row: 1;
}

.trailers .trailer_2 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
              url('./images/trailer_2.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  grid-column: 2; 
  grid-row: 1;
}

.trailers .trailer_3 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
              url('./images/trailer_3.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  grid-column: 1; 
  grid-row: 2;
}

.trailers .trailer_4 {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
              url('./images/trailer_4.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  grid-column: 2; 
  grid-row: 2;
}

.content {
  line-height: 175%;
  padding-left: 24px;
  padding-block: 32px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

@media (max-width: 1024px) {
  .content {
     line-height: 150%;
  }
}

.content .title {
  padding: 0;
  padding-bottom: 8px;
  font-weight: 700;
  font-size: 24px;
  text-align: left;
  color: #FFFFFF;
}

.content .content_box .subtitle {
  font-weight: 700;
  font-size: 18px;
  color: #FFCC00;
}

.content .content_box .text {
  font-weight: 400;
  font-size: 18px;
  color: #fff;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 50px;
}

.container .box .explore_button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FFCC00;
  gap: 12px;
  height: 100%;
  width: 100%;
  border: 2px solid #000000;
  border-radius: 100px;
  padding: 16px 24px;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

.container .box .explore_button:hover {
  background-color: #FFB300; 
  box-shadow: #C7C7C7;
}

.container .box .explore_button:focus {
  outline: 2px solid #B0B0B0; 
}

.container .box .explore_button .text {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: capitalize;
  color: #000;
  transition: color 0.3s ease-in-out, font-weight 0.3s ease-in-out;
}

.container .box .explore_button:hover .text {
  color: #333;
  font-weight: 300; 
}

.container .box .explore_button .arrow {
  width: 6px;
  height: 12px;
  border-width: 3px;
  transition: opacity 0.3s ease-in-out;
}

.container .box .explore_button:hover .arrow {
  opacity: 0.7;
}
